<div class="container" id="wtf">
  <div class="d-flex">
    <div class="w-50 d-flex justify-content-center">
      <a href="/games" class="btn btn-info btn-bg">
        Explore Video Games
      </a>
    </div>
    <div class="w-50 d-flex justify-content-center">
      <a href="/platforms" class="btn btn-danger btn-bg">
        Explore Platforms
      </a>
    </div>
  </div>
</div>
